@model List<Color>
@{
    ViewData["Title"] = "Index";
}

<div class="main-panel">
    <div class="table-wrap">
        <div class="category">
            <h2>Color</h2>
            <a asp-area="Admin" asp-controller="color" asp-action="Create">Create Color</a>
        </div>
        <table class="table">
            <thead class="thead-primary">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Create</th>
                    <th>Update</th>
                    <th>Settings</th>
                </tr>
            </thead>
            <tbody>

                @foreach (Color color in Model)
                {
                    <tr>
                        <td>@color.Id</td>
                        <td>@color.ColorName</td>
                        <td>@color.CreatedAt.ToShortDateString()</td>
                        <td>@color.UpdateAt.ToShortDateString()</td>
                        <td>
                            <div class="div">
                                <a asp-area="admin" asp-controller="Brand" asp-action="delete" asp-route-id="@color.Id"><i class="fa-solid fa-trash"></i></a>
                                <a asp-area="admin" asp-controller="Brand" asp-action="update" asp-route-id="@color.Id">
                                    <i class="fa-solid fa-pen"></i>

                                </a>

                            </div>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
